.detail-page {
  &-event {
    padding: var(--spacing-16);
    border-radius: var(--spacing-8);
    background-color: var(--color-neutral);
    position: relative;
  }

  &-back {
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--spacing-8);
    cursor: pointer;
  }
}
